<!DOCTYPE html>
<html ng-app="MyStart">
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
        <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script  src="script.js"></script>       
    </head>
    
    <body ng-controller="MainController" > 
      <div class="main">      
        <div id="header" class="container-fluid">
            <h2 class="text-center"> Number Naming </h2>
        </div>
        <div class="container">
                <br/>
                <div class="row">
                    <div class="col-md-5"><input class="form-control" ng-model="mynumber" placeholder="Enter your number" ng-change="InputChanged()"></div>
                    <div class="col-md-5"><input type="button" ng-click="NumToWord()" class="btn btn-primary"  value="Type The Number ">   </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5"><h5 class="text-center" ng-show= showflag>  Number is  <span class="glyphicon glyphicon-arrow-right"></span> {{user}}</h5>
                    </div>
            </div>
    </div>
    </body>
    </html>
