


#header {
    color:#a7c4da;
    padding-bottom: 12px;
    padding-left: 12px;
 }

.main {
    border: solid #a7c4da;
    border-width: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 570px;
    height: 320px; 
    padding-bottom: 12px;
    margin-top: 20PX;
    margin-left: 20px
 }
